<h1><%=@user.name %></h1>
<hr>
<br>
<%= link_to 'Delete', user_path(@user), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger' %>
<hr>
    
        <div class="well">
            <p>Account Number</strong> : <%= @user.account&.accNumber %></p>
        </div>
    
<hr>
